*{
    font-family: 'Poppins', sans-serif,"Josefin Slab", 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS';
}

.pa1{
    backdrop-filter: blur(8px);
    padding-top:40px;
    padding-left: 50px;

}
.pa1 h6{
    font-weight: bold;
    color: white;
}


#part5 .card{
    border-color: rgb(214, 214, 214);
    border-radius: 1px;
    box-shadow: 0 4px 6px rgb(40, 40, 40);
}

.ola5{
    animation: jumb2 2s linear infinite;
    animation-delay:3s;
}

@keyframes jumb2 {
    from{transform: translateY(-15px);}
    50%{transform: translateY(0);}
    to{transform: translateY(-15px);}
}
#part5.col-md-8 img{
    border-radius: 5px;
    opacity: 0.9;
    box-shadow: 0 5px 7px rgb(40, 40, 40);
    width: 40px;
}

#part5 .col-md-8 img:hover{
    transform: translateY(-4px);
    opacity: 0.4;
    background-color: black;
    animation: jumpes 1s linear infinite;
}
.op p{
    padding-top: 10px
}
#navega{
    position: fixed;
    z-index: 9999;
    width: 100%;
    height: 10px;
}
@keyframes jumpes {
    from{transform: translateY(-8px);}
    50%{transform: translateY(0);}
    to{transform: translateY(-8px);}
}
#navega .me{
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
    color: white;
}
#navega ul li a:hover{
    color: gold;
}
#part h2{
    padding-top: 80px;
    padding-bottom: 40px;
}
#part4 h2{
    padding-top: 100px;
    padding-bottom: 60px;
}

#part5 h2{
    padding-top: 100px;
    padding-bottom: 20px;
}
#part5 .tas{
    font-weight: bold;
}
.what{
    position: fixed;
    width:40px;
    height:42px;
    bottom:50px;
    left:20px;
    background-color: #25d366;
    z-index: 999;

    padding-left: 5px;
    font-size: 34px;
    box-shadow: 1px 1px 4px #000; 
    border-radius: 50px;
    animation: jumpess 1s linear infinite;
    cursor: pointer;
}
.what i{
    color:white;
    font-size: 37px;
    padding-right: 10px;
}
@keyframes jumpess {
    from{transform: translateY(-8px);}
    50%{transform: translateY(0);}
    to{transform: translateY(-8px);}
}
#part5{
    width: 100%;
    height: 100%;
    background-color: whitesmoke;
}
#part4{
    width: 100%;
    height: 100%;
    background-color: whitesmoke;
}
#part2{
    width: 100%;
    height: 100%;
    background-color: whitesmoke;
}
#part2 .card{
    border-color: rgb(214, 214, 214);
    border-radius: 1px;
    box-shadow: 0 4px 6px rgb(40, 40, 40);
}
#part2 .col-md-4 img{
    padding-top: 100%;
}
#part2 .col-md-8 h5{
    font-weight: bold;
    padding-bottom: 12px;
}
#part2 h2{
    padding-top: 105px;
    padding-bottom: 50px;
    
}

#part1{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: rgba(0,0,0,0.8);
}

#part1 .carousel-inner img{
    width: 100%;
    height: 100vh;
    object-fit: cover;  
    opacity: 0.5;
    animation: zoom 4s;
    background-color: black;
}

#rodape{
    align-items: center;
    justify-content: center;
    color: rgb(158, 17, 17);
    background-color: rgb(22, 22, 22);
}
footer{
    align-items: center;
    justify-content: center;
    background-color: rgb(22, 22, 22);
}

@keyframes zoom{
    0%{
        transform: scale(1.3);
    }
    100%{
        transform: scale(1);
    }
}
#part1 h5{
    padding-bottom: 10Px;
    font-size: 22px;
    font-weight: bold;
    align-items: center;
    font-family: "Josefin Slab", 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    animation: jumpeds 1s linear infinite;
    animation-delay: 2s;
}
@keyframes jumpeds {
    from{transform: translateY(-8px);}
    50%{transform: translateY(0);}
    to{transform: translateY(-8px);}
}
#part1 span{
    padding-bottom: 10Px;
    font-size: 30px;
    font-weight: bold;
    align-items: center;
    font-family:'courier';
}

#part1 p{
    font-size: max(18px, 1.5vw);
    font-family:"Be Vietnam Pro",-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    align-items: center;
    animation: jump 2s linear infinite;
    animation-delay: 5;
}
@keyframes jump {
    from{transform: translateY(-15px);}
    50%{transform: translateY(0);}
    to{transform: translateY(-15px);}
}

.ola3 img{
    align-items: center;
    justify-content: center;
    width: 40%;
    height: 40%;
    padding-right: 40px;
}

.modal-dialog{
    padding-top: 10%;
}


.ola4 {
    align-items: center;
    color: gray;
    position: center;
    justify-content: center;
}

.ola iframe{
    height: 350px;
}
#part1 .cod{
    position: absolute;
    top: 40%;
    left: 10%;
    padding-bottom: 10px;
}

#part4 .ab{
    margin-bottom: 45px;
}
#rodape ul li{
    padding-top: 10px;
}
#rodape{
    padding-top: 3px;
}
#rodape img{
    margin-left: 45%;
    padding-top: 10px;
}
.be{
    padding-top: 70px;
    padding-bottom: 20px;
}

.ola5{
    padding-top: 20px;
}

@media screen and (max-width:600px) {
    #part2 .col-md-4 img{
        padding-top: 10%;
    }
    #rodape img{
        margin-left: 35%;
        padding-top: 10px;
    }
    .pa1{
        background: rgba(0,0,0,0.1);
        backdrop-filter: blur(8px);
        padding-top:40px;
        padding-left: 50px;
    }.pa1{
        background: rgba(0,0,0,0.1);
        backdrop-filter: blur(8px);
        padding-top:40px;
        padding-left: 30px;
    }
}